{% extends "network/layout.html" %}

{% block body %}
  <div class="container ">
    <div class="row">
      <div class="col-lg-4 col-md-6" id="profile-userinfo">
        <div class="card text-center">
          <div class="card-body">
            <h2>{{ profile_user.username }}</h2>
            <div class="row">
              <div class="profile-followers">Followers: {{ follower.count }}</div>
              <div class="profile-followed">Followed: {{ followed.count }}</div>
            </div>

            {% if user.is_authenticated %}
              {% if user != profile_user %}
              {% if isFollowing %}
                <form action="{% url 'unfollow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ profile_user.username }}" name="profile_user" />
                    <button class="btn btn-danger" type="submit">Unfollow</button>
                </form>
                  {% else %}
                <form action="{% url 'follow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ profile_user.username }}" name="profile_user" />
                    <button class="btn btn-success" type="submit">Follow</button>  
                  </form>
                  {% endif %}
              {% endif %}
            {% endif %}

          </div>
        </div>
      </div>

      
      <div class="col-lg-7 col-md-6" id="profile-userposts">
          {% for post in posts %}
            <div class="card">
              <div class="card-body">
                  <a class="post-owner" href="{% url 'profile' post.owner.username %}">{{ post.owner }}</a>
                  <p class="post-content">{{ post.content }}</p>
                  {% if post.owner == request.user %}
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ post.id }}">
                      Edit
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="{{ post.id }}" tabindex="-1" aria-labelledby="EditPost{{post.id}}" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h1 class="modal-title fs-5" id="EditPost{{post.id}}">Edit</h1>
                          </div>
                          <div class="modal-body">
                              <textarea class="form-control" id="textarea_{{post.id}}" rows="3" >{{ post.content }}</textarea>
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick=edit_post({{ post.id }})>Save changes</button>
                          </div>
                      </div>
                      </div>
                  </div>
              {% endif %}
                  <p class="post-date">{{ post.date }}</p>
                  <div class="like-container">
                    {% if post.owner != request.user %}
                      {% if post.id in likes %}
                          <i class="fa fa-heart" id="{{ post.id }}" style="font-size:25px;color:red;" onclick="like_unlike({{ post.id }})"></i>
                      {% else %}
                          <i class="fa fa-heart" id="{{ post.id }}" style="font-size:25px;color:black;" onclick="like_unlike({{ post.id }})"></i>
                      {% endif %}
                    {% else %}
                      <i style="font-size:24px" class="fa">&#xf087;: </i>
                    {% endif %}
                    <p id="post_likes_{{ post.id }}">{{ post.likes }}</p>
                  </div>
              </div>
            </div>
          {% endfor %}

          <div class="d-flex justify-content-center my-4">
            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
{% endblock %}